body {
    overflow-x: hidden;
}
.slickWrapper {
    width: 2400px;
    height: 200px;
    overflow-x: hidden;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.slick-slide {
    width: 1200px;
}

.slick-arrow {
    background-color: #333333;
    z-index: 10;
}

.slick-prev {
    left: 0;
}

.slick-next {
    right: 0;
}

.item h3 {
    background: #00558b;
    color: #fff;
    font-size: 36px;
    line-height: 200px;
    margin: 10px 0;
    position: relative;
    text-align: center;
    transition: all 500ms ease;
    opacity: 0.9;
}

.center .slick-center .item h3 {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 1;
}
