.LoginFormPC {
    display: flex;
    justify-content: center;
    align-items: center;
}

.LoginFormPC .title {
    font-size: 18px;
    font-family: 'PingFangSC-Semibold', 'PingFang SC';
    color: rgba(255, 255, 255, 1);
    line-height: 33px;
    text-align: center;
    margin: 43px auto;
}

/* override */
.LoginFormPC .ant-modal {
    width: 546px !important;
    height: 550px;
    background-color: #4f61b9;
}

.LoginFormPC .anticon-close {
    color: #a1b1ff;
}

.LoginFormPC .ant-modal-content {
    background-color: transparent;
}
